.signup-div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container{
    /* background-color: aliceblue */
    width:auto;
}

.signup-form{
    display: flex;
    flex-direction:column;
    border:  1px solid rgba(5, 16, 54, 0.1);    
    font-family: "Inter", sans-serif;
    padding: 40px 20px;
}
         
.input-group{
display:flex;
flex-direction: column;
justify-content: space-around;
padding: 10px;
}

.txt-box {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #051036;
    
    border: 1px solid #dee2e6;
    border-radius: 4px;
    
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.form-values{
    display:flex;
    flex-direction: column;
    
}

.auth-buttons{
    display: flex;
    margin:10px;
}

.submit-btn{
    border: 1px solid #fc5056;
    border-radius: 4px;
    padding: 12px 28px;
    font-weight: 600;
    width: 100%;
    background-color: white;
    font-family: "Inter", sans-serif;
    background-color: #fc5056;
    color:white;
    margin-top:32px;
}

