.tour-booking-price-title{
    font-size: 32px;
    padding: 8px 0px;
    line-height:125%;
    margin:0px;
}

.tour-booking-price-title span{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.tour-booking-input-details{
    display: flex;
    flex-direction: column
}

.booking-people-category{
    display: flex;
    justify-content: space-between;
}

.booking-detail-total{
    margin-top: 30px;;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.book-now-button{
width:100%;
padding: 12px 28px;
background-color: #fc5056;
color:white;
border: none;
border-radius: 6px;
}